<body>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1', style:'color: black;' %>
  <div class="container">
    <div class="page-header">
      選手名を登録してください
    </div>
    <form>

    </form>
  </div>
</body>
