@media only screen and (max-width: 460px) {
  .whole {
    margin-top: 10px;
  }

  .player {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .number {
    font-size: 23px;
  }

  .column {
    margin-top: 5px;
  }
}
