<body>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1', style:'color: black;' %>
  <div class="container">
    <div class="page-header">
      あなたの成績を入力してください
    </div>
    <form>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="job">試合数</label>
      </div>
    </form>
  </div>
</body>
